:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background: #e0e1dd;
  display: flex;
  flex-direction: column;
}

input,
select,
textarea,
button {
  outline: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #04142b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 104px;
}

.box_header {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon {
  height: 100px;
  width: fit-content;
}

.link {
  color: white;
  font-family: Roboto, var(--default-font-family);
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.link_box {
  gap: 96px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  display: flex;
  padding-left: 96px;
}

a:hover {
  color: #007bff;
}

.button_box {
  display: flex;
  gap: 24px;
  padding-left: 96px;
}

.register-buttom,
.login-buttom {
  border-radius: 48px;
  width: 140px;
  font-family: Roboto, var(--default-font-family);
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem;
  border: none;
}

.register-buttom {
  color: #04142b;
  padding: 16px;
  background-color: white;
}

.register-buttom:hover {
  color: white;
  background-color: #0051a7;
  cursor: pointer;
}

.login-buttom {
  color: #ffffff;
  padding: 16px;
  background-color: #0051a7;
}

.login-buttom:hover {
  background-color: white;
  color: #0051a7;
}

.box_h1 {
  position: relative;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  color: #04142b;
  font-family: Odor Mean Chey, var(--default-font-family);
  font-size: 76px;
  font-weight: 650;
  padding-bottom: 32px;
  line-height: 80px;
}

.h1_desc {
  color: #04142b;
  margin-left: 96px;
  margin-right: 96px;
  font-family: Roboto, var(--default-font-family);
  font-size: 28px;
  font-weight: lighter;
  line-height: 32px;
  letter-spacing: 1.6px;
}

.imagem1_main {
  padding-top: 24px;
  width: 300px;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.icon-container figure img {
  width: 100px;
}

.sec_2 {
  display: flex;
  margin-top: 64px;

  padding-top: 32px;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #d0d0d0;
}

h2 {
  text-align: center;
  color: #04142b;
  font-family: Orelega One, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 16px;
}

hr {
  border: none;
  border-top: 4px solid #04142b;
  width: 90%;
  margin: auto;
}

.card_div {
  margin-top: 48px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  padding: 24px;
  gap: 24px;
  flex-direction: row;
}

.iconcard {
  width: 120px;
}

.pcard {
  color: #04142b;
  font-family: Roboto, var(--default-font-family);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

h3 {
  color: #04142b;
  font-family: Odor Mean Chey, var(--default-font-family);
  font-size: 36px;
  margin-bottom: 12px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
}
.card1,
.card2,
.card3,
.card4 {
  display: flex;
  padding: 16px;
  gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #e0e1dd;
  height: 380px;
  width: 300px;
  border-radius: 8px;
}

.sec_3 {
  background-color: #04142b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sec_3_h2 {
  margin-top: 64px;
  color: #ffffff;
  font-family: Orelega One, var(--default-font-family);
  font-size: 48px;
  font-weight: 600;
}
.sec_3_p {
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.aulas,
.graficos,
.investimentos {
  margin-top: 64px;
  background-color: #e0e1dd;
  border-radius: 24px;
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.half1 {
  padding: 36px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
}

.half2_aula {
  display: flex;
  flex: 1 1 60%;
  background-image: url(/Capital_Wise/imgs/aulas.jpg);
  background-position: center;
  background-size: cover;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.sec_3_h3 {
  color: #04142b;
  font-family: Play, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 24px;
  line-height: 36px;
}

.half2_grafico {
  display: flex;
  flex: 1 1 60%;
  background-image: url(/Capital_Wise/imgs/gif_graficos.gif);
  background-position: center;
  background-size: cover;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.half2_investimentos {
  display: flex;
  flex: 1 1 60%;
  background-image: url(/Capital_Wise/imgs/Tipos-de-fundo-Yubb-para-Mais-Retorno.jpg);
  background-position: center;
  background-size: cover;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.sec_4 {
  margin-top: 64px;
  background-color: #E0E1DD;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.half1_sec4{
    background-image: url(/Capital_Wise/imgs/equipe.png);
  background-position: center;
  background-size: cover;
}