* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-pagina2 {
    font-family: Arial, sans-serif;
    background-color: #2a3b55;
    color: #fff;
    width: 100%;
    scroll-behavior: smooth;
    height: 100dvh;
    display: flex;
    flex-direction: column;

}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #04142b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 104px;
}

.box_header {
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.icon {
    height: 100px;
    width: fit-content;
}

.link1,
.link2 {
    color: white;
    font-family: Roboto, var(--default-font-family);
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}

.link_box {
    gap: 96px;
    flex-direction: row;
    align-items: center;
    width: 100%;
    display: flex;
    padding-left: 96px;
}

a:hover {
    color: #007bff;
}

.button_box {
    display: flex;
    gap: 48px;
    padding-left: 96px;
}

.sair-buttom {
    cursor: pointer;
    border-radius: 48px;
    width: 140px;
    font-family: Roboto, var(--default-font-family);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
    border: none;
}

.wallet {
    display: flex;
    flex-direction: row;
}

.people {
    width: 80px;
    position: relative;
    right: 15%;
}

.wallet-buttom {
    cursor: pointer;
    padding-left: 36px !important;
    border-radius: 48px;
    align-items: center;
    display: flex;
    width: 400px;
    font-family: Roboto, var(--default-font-family);
    font-size: 1rem;
    overflow: hidden;
    /* Oculta qualquer texto que ultrapasse */
    text-align: center;
    font-weight: 700;
    text-align: left;
    padding: 0.5rem;
    border: none;
}

.sair-buttom {
    color: #04142b;
    padding: 16px;
    background-color: white;
}

.sair-buttom:hover {
    color: white;
    background-color: #0051a7;
    cursor: pointer;
}

.wallet-buttom {
    color: #04142b;
    padding: 16px;
    background-color: #d9d9d9;
}

.wallet-buttom:hover {
    background-color: white;
    color: #0051a7;
}

hr {
    border: none;
    border-top: 4px solid #04142b;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .header-pagina2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-pagina2 nav {
        margin: 10px 0;
    }

    .header-pagina2 nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .header-right-pagina2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .carteira-pagina2 button,
    .sair-pagina2 button {
        width: 100%;
    }
}


.summary-pagina2 {
    width: 100%;
    background-color: #04142B;
    padding: 15px;
    /* Reduz o padding para diminuir as caixas */
    border-radius: 10px;
    margin-bottom: 20px;
    /* Espaço entre as seções */
}

.summary-info-pagina2 p {
    margin: 20px 0;
    /* Espaçamento vertical entre os parágrafos */
}

.summary-info-pagina2 h3 {
    margin: 10px 0;
    /* Espaçamento acima e abaixo do Total Atual */
}

/* Estilo específico para Rentabilidade, CDI, e Ganho/Mês */
.summary-info-pagina2 .positive-pagina2 {
    margin-top: 10px;
    /* Espaçamento acima */
}




.positive-pagina2 {
    color: #00ff00;
}

.progress-bar-pagina2 {
    background-color: #ff9c52;
    height: 20px;
    border-radius: 5px;
    text-align: right;
    padding-right: 5px;
    color: #fff;
    margin: 10px 0;
    line-height: 20px;
    position: relative;
}

.line-portfolio {
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -6px;
    /* Ajusta a posição para alinhar a linha abaixo da barra */
    left: 0;
    margin-top: 10px;
    /* Define o espaço entre a barra e a linha */
}

.view-more-pagina2 {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff9c52;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


.portfolio-item-pagina2 {
    margin-bottom: 10px;
    margin: 20px 0;
}


.container {
    display: flex;
    /* Permite que o main e a sidebar fiquem lado a lado */
    margin: 20px;
    /* Margem ao redor do container */
    justify-content: space-between;
    /* Para distribuir o espaço entre main e sidebar */
}

/* Estilo do main */
.main-pagina2 {
    display: flex;
    flex-direction: column;
    /* Alinha as seções em coluna */
    align-items: flex-start;
    /* Alinha as seções à esquerda */
    margin: 20px;
    width: 80%;
    /* Ajusta a largura total */
    max-width: 700px;
    /* Define a largura máxima para as caixas */
}

.sidebar {
    width: 200px;
    /* Largura da sidebar */
    background-color: #313C48;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alinha centralizado na barra lateral */
    position: relative;
    /* Para permitir que fique abaixo da header */
    gap: 15px;
    /* Adiciona espaço entre os elementos da sidebar */
}

/* Ajustes na imagem do rodapé da sidebar */
.logo-bottom-pagina2 img {
    display: flex;
    /* Usado para centralizar a imagem */
    justify-content: center;
    /* Centraliza horizontalmente */
    width: 100%;
    /* Para garantir que o logo use a largura total */
    margin-top: 20px;
    /* Distância acima da imagem */
}

/* Botões da sidebar */
.sidebar .buttons-pagina2,
.learn-more-pagina2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Espaçamento entre os botões */
    width: 100%;
    /* Botões ocupam toda a largura da sidebar */
}

.buttons-pagina2 button,
.learn-more-pagina2 {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: #8C95A1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    /* Ajusta os botões para ocupar a largura completa */
    text-align: left;
}

.learn-more-pagina2 {
    background-color: #00aaff;
    /* Cor específica para o botão */
}

/* Ajuste a altura da imagem do usuário */
.user-greeting img {
    width: 60px;
    /* Aumenta a largura da imagem do usuário */
    height: 60px;
    /* Aumenta a altura da imagem do usuário */
    border-radius: 60%;
    object-fit: cover;
    border: 3px solid #1B263B;
    padding: 2px;
    background-color: #778DA9;
    margin-right: 10px;
    /* Espaço entre a imagem e o texto */
    margin-top: -10px;
}

.user-greeting {
    margin-bottom: -15px;
    display: flex;
    /* Alinha os elementos na horizontal */
    align-items: center;
    /* Centraliza verticalmente */
    width: 100%;
    /* Para que ocupe toda a largura disponível */
}


/* Estilo do texto da saudação */
.user-greeting p {
    margin: 0;
    /* Remove a margem padrão */
}

.line:first-of-type {
    margin-bottom: 0;
    /* Remove a margem inferior da linha acima */
    margin-top: 0;
    /* Remove a margem superior da linha acima para deixá-la mais próxima do nome */
}

.line {
    height: 2px;
    /* Espessura da linha */
    background-color: #fff;
    /* Cor da linha */
    width: 100%;
    /* Largura da linha */
    margin: 5px auto;
    /* Centraliza a linha e mantém 5px de margem acima e abaixo */
}


.summary-container {
    display: flex;
    /* Usar flexbox para alinhar itens */
    align-items: flex-start;
    /* Alinha o texto e o gráfico no topo */
    justify-content: space-between;
    /* Espaço entre os elementos */

}



#lineChart {
    width: 100%;
    /* O gráfico ocupa toda a largura da caixa */
    height: 80px;
    /* Ajusta a altura para compactar a caixa */
    display: flex;
    align-items: flex-start;
    margin-top: -70px;
    /* Aproxima o gráfico do texto acima */
}

.portfolio-pagina2 {
    width: 100%;
    background-color: #04142B;
    padding: 10px;
    /* Reduz o padding para compactar a caixa */
    border-radius: 10px;
    margin-bottom: 10px;
    /* Reduz o espaço abaixo da caixa */
}

footer {
    background-color: #04142b;
    display: flex;
    margin-top: auto;
    gap: 64px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer_text {
    color: #ffffff;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
}

.social_icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.social {
    width: 50px;
}